.navbar {
    width: 100%;
    z-index: 100;
}

.navbar-dark {
    background: black !important;
}

.homeBtn {
    float: right !important;
}

.savedBtn {
    padding-right: 3%;
}

h3 {
    font-size: 200%;
}