.navbar {
    width: 100%;
    z-index: 100;
}

.navbar-dark {
    background: black !important;
}

.btn-info {
    /* background-color: #A72219 !important; */
    border-color: white !important;
    border-width: 2px;
    background-color: #2B8695 !important;
}

h3 {
    font-size: 200%;
}

.btn-info:hover {
    background-color: white !important;
    /* border-color: #A72219 !important;
    color: #A72219 !important; */
    border-color: #2B8695 !important;
    color: #2B8695 !important;
}

.nav-buttons {
    width: 17%;
}

.savedBtn {
    float: right;
}

.homeBtn {
    margin-right: 3%;
}