.wrapper {
    padding-top: 25px;
    background-image: url("https://www.ilovewallpaper.com/images/muriva-fleet-street-newspaper-wallpaper-black-white-red-102511-p649-749_image.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    text-align: center;
  }