.jumbotron {
    height:300 !important;
    clear: both !important;
    padding-top: 120 !important;
    text-align: center !important;
    margin-bottom: 1% !important;
    /* width: 80%; */
    background-color: #A72219;
    color: white;
}